{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field%}
    <div>
        <h4>${% if field_description.options.safe %}{{ value|raw }}{% else %}{{ value|nl2br }}{% endif %}</h4>
    </div>
{% endblock %}
