
{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field%}
<table class="table table-bordered">
    <thead>
        <th>Producto</th>
        <th>Units</th>
        <th>Weight (lbs.)</th>
        <th>Subtotal ($)</th>
    </thead>
    <tbody>
    {% for element in value%}
    <tr>
        <td>
        {{ element.getProduct.getName }}
        </td>
        <td>
        {{ element.getCantidad }}
        </td>
        <td>
        {{ element.getPesototal }}
        </td>
        <td>
        {{ element.getSubtotal }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
