{% extends '::bootstrap.html.twig' %}

 {% block body %}
 <h1>CASAVANA CENTRAL ORDER</h1>

<div clas="container-fluid">
	<div class="page-header">
	  <h1>
	    Usuario no logueado: <a href="login" title="Login">Login</a>
	  </h1>
	  <h2><a href="{{ path('client') }}" >Área de Clientes</a></h2>
	  <h2><a href="{{ path('manager') }}" >Manager</a></h2>
	</div>
</div>
 {% endblock %}