{% block block %} 
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Units</th>
            <th>Invoice Weight (lbs.)</th>
            <th>Product</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody class="sonata-ba-tbody ui-sortable">
        
    </tbody>
</table>
{% endblock %}