<div class="controls sonata-ba-field sonata-ba-field-standard-natural ">

<select id="status" name="status" required="required" class="span5"><option value="opened">Opened</option><option value="processing">Processing</option><option value="closed">Closed</option></select>
   
</div>