<div class="controls sonata-ba-field sonata-ba-field-standard-natural ">

<select id="s512c5c25a111a_status" name="s512c5c25a111a[status]" required="required" class="span5"><option value="opened">Opened</option><option value="processing">Processing</option><option value="closed">Closed</option></select>
   
</div>
