<div lang="es" style="padding:0;margin:0">
  <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
      <tr>
        <td style="background-color:#EEEEEE;padding:30px 15px 0">
          <table width="710" cellspacing="0" cellpadding="0" border="0" align="center" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;color:#333">
            <tbody>
              <tr>
                <td style="background-color:#fff;padding:25px 40px 22px">
                  <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                      <tr>
                        <td width="100%" valign="top" style="color: #666">
                          <p style="font-size:15px;line-height:19px">Hola</p>
                          <p style="font-size:15px;line-height:19px">Un nuevo pedido ha sido recibido en Casavana Central Order</p>
                          <p style="font-size:15px;line-height:19px">
                            <ul>
                              <li>Client: {{client}}</li>
                            </ul>
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>    
                </td>
              </tr>
              <tr>
                <td style="background-color:#fff;padding:0 0 10px 0"></td>
              </tr>
              <tr>
                <td style="background-color:#fff;padding:32px 40px 22px;border-top:1px solid #e4ecf0">
                  <table cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                      <tr>
                        <td valign="middle" style="padding:0 0 0 0px">
                          <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                              <tr>
                                <td valign="middle" style="padding:0 10px 0 0px"></td>
                                
                                <td>
                                  <table cellspacing="0" cellpadding="0" border="0" style="background-color:#0064CD;">
                                    <tbody>
                                      <tr>
                                        <td width="1" height="1" style="background-color:#fff"></td>
                                        <td></td>
                                        <td width="1" height="1" style="background-color:#fff"></td>
                                      </tr>
                                      <tr>
                                        <td></td>
                                        <td style="padding:5px;">
                                        <div style="width: 250px">
                                          <a target="_blank" style="color:#fff;text-decoration:none; text-align: center; padding:5px 13px;font-size:15px;display:block" href="http://casavana.sagasoft.es/app.php/admin/casavanaco/bd/invoice/list">
                                            Go to Casavana Central Order
                                          </a>
                                          </div>
                                        </td>
                                        <td></td>
                                      </tr>
                                      <tr>
                                        <td width="1" height="1" style="background-color:#fff"></td>
                                        <td style="background-color:#4e6f8a"></td>
                                        <td width="1" height="1" style="background-color:#fff"></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="padding:0 0 10px 0;background-color:#fff;border-bottom-right-radius:8px;border-bottom-left-radius:8px"></td>
              </tr>
              <tr>
                <td>
                  <div style="padding:0 5px">
                    <div style="min-height:2px;line-height:2px;font-size:2px;background-color:#e2e7e7;clear:both;border-bottom-right-radius:5px;border-bottom-left-radius:5px"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td style="font-size:11px;line-height:16px;color:#aaa;padding:25px 40px">
                <p align="center">
                Este email ha sido enviado como consecuencia de tu registro en nuestra plataforma de gesti&oacute;n de intervenciones nutricionales. Si has recibido este mensaje por equivocaci&oacute;n, por favor comun&iacute;canoslo y procederemos a eliminar tu direcci&oacute;n de correo electr&oacute;nico de nuestro sistema. Este mensaje se dirige exclusivamente a su destinatario y puede contener informaci&oacute;n confidencial sometida al secreto profesional o cuya divulgaci&oacute;n est&eacute; prohibida en virtud de la legislaci&oacute;n vigente.</p>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>